<div class="topbar">
  <div class="container menu">
    <button class="item menu-button" tabindex="0" type="button" {{action 'handleContactMe'}}>Home</button>
    <button class="item menu-button" tabindex="0" type="button" {{action 'handleContactMe'}}>Contact</button>
    <button class="item menu-button" tabindex="0" type="button" {{action 'handleMyProjects'}}>My Projects</button>
    <div class="label burger-icon" tabindex="0">{{svg-jar "burger-menu"}}</div>
  </div>
  {{yield}}
</div>